<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_Access</h1>
        <table border="3px">
            <tr>
                <td>pk</td>
                <td>name</td>
                <td>author</td>
                <td>date</td>
            </tr>
            {% for ao in AQST %}
            <tr>
                <td>{{ao.pk}}</td>
                <td>{{ao.name}}</td>
                <td>{{ao.author}}</td>
                <td>{{ao.date}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>

</body>
</html>